@font-face{
    font-family: Cera Pro Regular;
    src: 
        url("../fonts/CeraPro-Regular.eot") format("eot"), 
        url("../fonts/CeraPro-Regular.ttf") format("TrueType"), 
        url("../fonts/CeraPro-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face{
    font-family: "Cera Pro Medium";
    src: 
        url("../fonts/CeraPro-Medium.eot") format("eot"), 
        url("../fonts/CeraPro-Medium.ttf") format("TrueType"), 
        url("../fonts/CeraPro-Medium.woff") format("woff");
    font-weight: 500;
}
@font-face{
    font-family: "Cera Pro Bold";
    src: 
        url("../fonts/CeraPro-Bold.eot") format("eot"), 
        url("../fonts/CeraPro-Bold.ttf") format("TrueType"), 
        url("../fonts/CeraPro-Bold.woff") format("woff");
    font-weight: 700;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    box-sizing: border-box;
}
header{
    width: 1200px;
    height: 53px;
    margin: 30px 120px 0;
}
.header{
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
}
.list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-item{
    padding: 8px 25px 25px;
    font-family: 'Cera Pro Regular';
    color: #3D3D3D;
}
.list-item:hover{
    background-color: rgba(70, 163, 88, 0.50);
}
#active{
    border-bottom: 3px solid #46A358;
    font-family: 'Cera Pro Bold', sans-serif;
}
.list-item:active{
    border-bottom: 3px solid #46A358;
    font-family: 'Cera Pro Bold', sans-serif;
}
.buttonlogin{
    color: #FFF;
    font-family: 'Cera Pro Medium';
    /*font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;*/
    width: 100px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #46A358;
    }
.svglogin{
    width: 16.278px;
    height: 15.417px;
    flex-shrink: 0;
}
.container{
    display: flex;
    height: 450px;
    width: 1200px;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
    margin:12px 120px 52px;
}
.left{
    width: 693px;
    flex-shrink: 0;
    padding-left: 43px;
    padding-top: 68px;
}
.right{
    /*width: 507px;*/
    flex-shrink: 0;
    
}
.buttonshop{
    border-radius: 6px;
    background: #46A358;
    width: 140px;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "Cera Pro Bold";
    /*font-size: 16px;
    font-style: normal;
    line-height: 20px;*/
    text-transform: uppercase;
    margin-top: 44px;
    margin-bottom: 85px;
}
.textWelcome{
    color: #3D3D3D;
    font-family: 'Cera Pro Medium';
    /*font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;*/
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding-top: 5px;
}
.textLets{
    font-family: "Cera Pro Bold";
    font-size: 70px;
    font-style: normal;
    /*font-weight: 900;*/
    line-height: 70px;
    text-transform: uppercase;
    padding-top: 5px;
}
#textLetsdark{
    color: #3D3D3D;
}
#textLetsgreen{
    color: #46A358;
}
.textDescr{
    /*box-sizing: ;
    width: 557px;
    height: 45px;*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    flex-shrink: 0;
    color: #727272;
    font-family: 'Cera Pro Regular';
    /*font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;*/
    padding-top: 5px;}