.block1{
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
    font-size: 72px;
    position: absolute;
    left: 25px;
    z-index: 1;
    position: relative;
}
.block2{
    width: 200px;
    height: 200px;
    background-color: green;
    color: white;
    font-size: 72px;
    position: absolute;
    left: 50px;
    z-index: 2;
}
.block3{
    width: 200px;
    height: 200px;
    background-color: red;
    color: white;
    font-size: 72px;
    position: absolute;
    left: 70px;
    z-index: 2;
}