@font-face{
    font-family: "Cera Pro Regular";
    src: 
        url("../fonts/CeraPro-Regular.eot") format("eot"), 
        url("../fonts/CeraPro-Regular.ttf") format("TrueType"), 
        url("../fonts/CeraPro-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face{
    font-family: "Cera Pro Medium";
    src: 
        url("../fonts/CeraPro-Medium.eot") format("eot"), 
        url("../fonts/CeraPro-Medium.ttf") format("TrueType"), 
        url("../fonts/CeraPro-Medium.woff") format("woff");
    font-weight: 500;
}
@font-face{
    font-family: "Cera Pro Bold";
    src: 
        url("../fonts/CeraPro-Bold.eot") format("eot"), 
        url("../fonts/CeraPro-Bold.ttf") format("TrueType"), 
        url("../fonts/CeraPro-Bold.woff") format("woff");
    font-weight: 700;
}
@font-face{
    font-family: "Hanging Letters";
    src: 
       url("../fonts/Hanged-Letters.ttf") format("TrueType"); 
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    box-sizing: border-box;
}
.blogpage{
    margin: 69px 120px;
}
.blogheader{
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
    width: 100%;
}
.blogheaderpart{
    flex-direction: row;
    flex: 1;
    display: flex;
    position: relative;
    overflow: visible;
    background: #FBFBFB;
    background-clip: content-box;
}
.blogheadpartright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding: 89px 30px;
}
.blogheadtext1{
    color: #3D3D3D;
    /*text-align: right;*/
    font-family: "Cera Pro Bold";
    font-size: 18px;
    font-weight: 900;
    line-height: 133.333%;
    text-transform: uppercase;
}
.blogheadtext2{
    color: #727272;
    /*text-align: right;*/
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 171.429%;
    margin-top: 9px;
}
.blogimg{
    width: 287px;
    height: 292px;
    flex-shrink: 0;
    background: #FBFBFB;
}
.imgblog{
    width: 268px;
    height: 195px;
    flex-shrink: 0;

}
.blogs{
    margin-top: 138px;
}
.blogsheadermaintext{
    color: #3D3D3D;
    text-align: center;
    font-family: "Cera Pro Bold";
    font-size: 30px;
    line-height: 16px;
}
.blogsheadersecondtext{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 171.429%;
    text-align: center;
    margin-top: 15px;
}
.blogstore{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 35px;
    gap: 43px;
}
.blog{
    max-width: 268px;
    background: #FBFBFB;
}
.findmorebutton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    padding: 10px 27px;
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro Medium";
    margin-top: 25px;
}
.svg1{
    margin: 1px 2px;
}
.readmorebutton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border: none;
    color: #3D3D3D;
    font-size: 14px;
    line-height: 16px;
    font-family: "Cera Pro Medium";
    margin-top: 9px;
    background: #FFF;
}
#greenbutton{
    color: #46A358;
}
.blogtext1{
    font-family: "Cera Pro Medium";
    color: #46A358;
    font-size: 14px;
    line-height: 114.286%;
}
.blogtext2{
    font-family: "Cera Pro Bold";
    color: #3D3D3D;
    font-size: 20px;
    line-height: 130%;
    /*text-transform: capitalize;*/
    margin-top: 4px;
}
.blogtext3{
    font-family: "Cera Pro Regular";
    color: #727272;
    font-size: 14px;
    line-height: 157.143%;
    margin-top: 4px;
}
.blogdescription{
    padding: 9px 31px 0 15px;
}