*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    box-sizing: border-box;
}
$font-family: 'Montserrat', sans-serif;
$font-bold: (
    family: $font-family,
    weight: 700
);
$font-regular: (
    family: $font-family,
    weight: 400
);
@mixin font($font){
    font-family: map-get($font, family);
    font-weight: map-get($font, weight);  
}
$color-white-basic: #fff;
$color-main-regular: #323264;
$color-main-alt: #46466E;
$color-main-soft: #686887;
$color-accent: #F0145A;
$color-active-regular: #24A3FF;
$color-active-hover: #0085FF;
$color-active-active: #006CCF;
$color-grey-bg: #F5F5FA;
$color-grey-bg-alt: #EDEDF7;
$color-grey-text: #B3B3BA;
$color-grey-separator: #E6E6F0;
$color-basic-black: #000;
$gradient-regular: linear-gradient(129deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-soft: linear-gradient(42deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradient-red: linear-gradient(323deg, #F0145A 6.7%, #693264 70.36%);
$gradient-supersoft: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$gradient-red-text: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);

@mixin gradient-text($gradient) {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; // для підтримки у Firefox
    color: transparent; // fallback
}
.header-mobile{
    display: none;
    @media (max-width: 768px){
        display: inline-flex;
        .head-logo{
            font-size: 20px;
        }
    }
}
.header-tabletSD{
    display: none;
    @media (min-width: 769px) and (max-width: 1023px) {
        display: flex;
        padding: 50px 60px 0;
        align-items: start;
        justify-content: flex-start;
        flex-flow: column wrap;
        gap: 30px;
    }
}
.header-desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 50px 60px 0;
    @media (max-width: 1023px) {
        display: none;
    }
    @media (min-width: 1920px) {
        padding: 50px 160px 0;
    }
}
.header-mobile-nav{
    padding: 10px 15px;
    background-color: $color-grey-bg;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    @include font($font-bold);
    line-height: normal;
    color: $color-grey-text;
}
.header-lang{
    display: flex;
    flex-flow: row wrap;
    font-size: 12px;
    letter-spacing: 1px;
    transition: 0.2s ease;
    @include font($font-bold);
        input[type="radio"] {display: none;}
        label{ 
            display: flex;
            cursor: pointer;
            padding: 5px 7px;
            border-radius: 8px;
            transition: 0.2s ease;
            }
        label:has(input:checked) {
            background-color: $color-accent;
            color: $color-white-basic;
            }
}
.header-tel{font-size: 16px;}
.head{
    @include font($font-regular);
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.head-logo{
    display: flex;
    flex-direction: column;
    padding: 15px 0 10px;
    line-height: normal;
    color: $color-main-regular;
    font-size: 36px;
}
.head-logo-1{
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3.467px;
    font-size: 20px;
}
.head-logo-2{
    display: inline-flex;
    align-items: flex-start;
    justify-content: start;
    margin-top: 4px;
}
#desktop-logo{
    font-size: 36px;
}
.head-menu-button{
    display: flex;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
}
.head-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 12px;
    @include font($font-bold);
    color: $color-active-regular;
}
.menu-exit{
    display: flex;
    max-width: 32px;
    max-height: 32px;
    background-color: none;
    background: none;
    border: none;
}
.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0;
    background-color: $color-grey-bg;
    border-radius: 12px;
    align-self: stretch;
    width: 100%;
}
.head-menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    visibility: hidden;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: min(100%, 360px);
    padding: 12px 12px;
    list-style: none;
    text-align: center;
    background-color: $color-white-basic;
    gap: 15px;
    z-index: 2;
    opacity: 0;
    transition: all 0.3s ease;
    box-sizing: border-box;
    overflow-x: hidden;
  }
#activepage{
    background-color: $color-grey-separator;
}
.menu-item-exit{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    margin-bottom: 20px;
    width: 100%;
}
#menu-toggle{
    display: none;
}
.head-menu-button > span,
.head-menu-button > span:before,
.head-menu-button > span:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.head-menu-button > span::before {
    content: '';
    top: -8px;
  }
.head-menu-button > span::after {
    content: '';
    top: 8px;
}
.menu-item:hover{
    color: $color-accent;
}
#menu-toggle:checked ~ .head-menu-button > span {
    transform: rotate(45deg);
}
#menu-toggle:checked ~ .head-menu-button > span ::before {
    
    transform: rotate(0);
}
#menu-toggle:checked + .head-menu-button{
    background-color: $color-grey-separator;
    border-radius: 8px;
}
#menu-toggle:checked ~ .head-menu-button > span::after{
    transform: rotate(90deg);
}
#menu-toggle:checked ~ .head-menu-list{
    visibility: visible;
    opacity: 1;
}
.head-menu-button span {
    display: none;
}
.head-description{
    display: flex;
    flex-flow: column wrap;
}
.greyseparator{
    fill: $color-grey-separator;
}
.head-contacts{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.head-contacts_adress{
    color: $color-grey-text;
    font-size: 16px;
    @include font($font-regular);
    line-height: normal;
}
.head-contacts_number{
    color: $color-grey-text;
    font-size: 16px;
    @include font($font-bold);
    line-height: normal;
}
.head-menu-desk{
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 16px;
    gap: 15px;
    @include font($font-bold);
    line-height: normal;
    font-size: 16px;
    color: $color-active-regular;
    border-bottom: 2px $color-white-basic;
    input[type="radio"] {display: none;}
        label{ 
            display: flex;
            cursor: pointer;
            }
        label:has(input:checked) {
            color: $color-accent;
            border-bottom: 2px solid $color-accent;
            }
}
.aboutpage-body{
    display: flex;
    flex-flow: column wrap;
}
.aboutpage-1{
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 60px;
    gap: 30px;
    padding: 0 30px;
    flex-wrap: wrap;
    @media (min-width: 768px){
        padding: 0 60px;
        flex-wrap: wrap;
    }
    @media (min-width: 1024px){
        padding: 0 60px;
        flex-wrap: nowrap;
    }
    @media (min-width: 1280px){
        padding: 0 160px;
        flex-wrap: nowrap;
    }
    @media (min-width: 1980px){
        padding: 0 280px;
        flex-wrap: nowrap;
    }
}
.aboutpage-1-description{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 28px;
    flex-flow: column wrap;
}
.aboutpage-header{
    @include font($font-bold);
    line-height: normal;
    font-size: 38px;
    @include gradient-text($gradient-red-text);
    @media (max-width: 768px){
        font-size: 30px;
    }
}
.aboutpage-1-text{
    @include font($font-regular);
    line-height: normal;
    font-size: 19px;
    color: $color-basic-black;
}
.aboutpage-1-table{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 30px;
    position: relative;
}
.aboutpage-1-table_column{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.aboutpage-1-table_column-item{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.aboutpage-1-table_column-item-head{
    display: flex;
    align-items: center;
    justify-content: center;
    @include font($font-bold);
    font-size: 36px;
    line-height: normal;
    @include gradient-text($gradient-red-text);
    gap: 8px;
}
.aboutpage-1-table_column-item-text{
    display: flex;
    flex-flow: row wrap;
    @include font($font-regular);
    font-size: 16px;
    line-height: normal;
    color: $color-main-regular;
}
.greysep{
    width: 4px;
    background-color: $color-grey-separator;
    border-radius: 2px;
    flex-shrink: none;
}
.aboutpage-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    @media (min-width: 768px){
        margin-top: 60px;}
}
.aboutpage-2-text{
    @include font($font-bold);
    font-size: 46px;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 63px;
    text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.80);
    text-align: center;
    color: $color-white-basic;
}
.aboutphoto{

}