* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-style: normal;
  box-sizing: border-box;
}

.header-mobile {
  display: none;
}
@media (max-width: 768px) {
  .header-mobile {
    display: flex;
    flex-flow: column wrap;
  }
  .header-mobile .head-logo {
    font-size: 20px;
  }
}

.header__mobile {
  display: none;
}
@media (max-width: 768px) {
  .header__mobile {
    display: flex;
    flex-flow: column wrap;
  }
  .header__mobile .head-logo {
    font-size: 20px;
  }
}

.header-tabletSD {
  display: none;
}
@media (min-width: 769px) and (max-width: 1023px) {
  .header-tabletSD {
    display: flex;
    padding: 50px 60px 0;
    align-items: start;
    justify-content: flex-start;
    flex-flow: column wrap;
    gap: 30px;
  }
}

.header__tabletSD {
  display: none;
}
@media (min-width: 769px) and (max-width: 1023px) {
  .header__tabletSD {
    display: flex;
    padding: 50px 60px 0;
    align-items: start;
    justify-content: flex-start;
    flex-flow: column wrap;
    gap: 30px;
  }
}

.header-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 50px 60px 0;
}
@media (max-width: 1023px) {
  .header-desktop {
    display: none;
  }
}
@media (min-width: 1920px) {
  .header-desktop {
    padding: 50px 160px 0;
  }
}

.header__desktop {
  display: flex;
  flex-flow: column wrap;
  padding: 50px 60px 0;
}
@media (max-width: 1023px) {
  .header__desktop {
    display: none;
  }
}
@media (min-width: 1920px) {
  .header__desktop {
    padding: 50px 160px 0;
  }
}

.header__desktop-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

.header-mobile-nav {
  padding: 10px 15px;
  background-color: #F5F5FA;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: normal;
  color: #B3B3BA;
  position: relative;
  z-index: 1;
}

.header__mobile_nav {
  position: relative;
  z-index: 1;
  padding: 10px 15px;
  background-color: rgba(245, 245, 250, 0.2);
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

.header-lang {
  display: flex;
  flex-flow: row wrap;
  font-size: 12px;
  letter-spacing: 1px;
  transition: 0.2s ease;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.header-lang input[type=radio] {
  display: none;
}
.header-lang label {
  display: flex;
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 8px;
  transition: 0.2s ease;
}
.header-lang label:has(input:checked) {
  background-color: #F0145A;
  color: #fff;
}

.header__lang {
  display: flex;
  flex-flow: row wrap;
  font-size: 12px;
  letter-spacing: 1px;
  transition: 0.2s ease;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.header__lang input[type=radio] {
  display: none;
}
.header__lang label {
  display: flex;
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 8px;
  transition: 0.2s ease;
}
.header__lang label:has(input:checked) {
  background-color: #F0145A;
}

.header-tel {
  font-size: 16px;
}

.head {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.head-logo {
  display: flex;
  flex-direction: column;
  padding: 15px 0 10px;
  line-height: normal;
  color: #323264;
  font-size: 36px;
  cursor: pointer;
}

.head__logo {
  display: flex;
  flex-direction: column;
  padding: 15px 0 10px;
  line-height: normal;
  color: #fff;
  font-size: 36px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.head-logo-1 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 3.467px;
  font-size: 20px;
}

.head-logo-2 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: start;
  margin-top: 4px;
}

#desktop-logo {
  font-size: 36px;
}

.head-menu-button {
  display: flex;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.head-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #24A3FF;
}

.head__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #24A3FF;
  position: relative;
  z-index: 1;
}

.menu-exit {
  display: flex;
  max-width: 32px;
  max-height: 32px;
  background-color: none;
  background: none;
  border: none;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 0;
  background-color: #F5F5FA;
  border-radius: 12px;
  align-self: stretch;
  width: 100%;
}

.head-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  visibility: hidden;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: min(100%, 360px);
  padding: 12px 12px;
  list-style: none;
  text-align: center;
  background-color: #fff;
  gap: 15px;
  z-index: 2;
  opacity: 0;
  transition: all 0.3s ease;
  box-sizing: border-box;
  overflow-x: hidden;
}

#activepage {
  background-color: #E6E6F0;
}

.menu-item-exit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;
  margin-bottom: 20px;
  width: 100%;
}

#menu-toggle {
  display: none;
}

.head-menu-button > span,
.head-menu-button > span:before,
.head-menu-button > span:after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.head-menu-button > span::before {
  content: "";
  top: -8px;
}

.head-menu-button > span::after {
  content: "";
  top: 8px;
}

.menu-item:hover {
  color: #F0145A;
}

#menu-toggle:checked ~ .head-menu-button > span {
  transform: rotate(45deg);
}

#menu-toggle:checked ~ .head-menu-button > span ::before {
  transform: rotate(0);
}

#menu-toggle:checked + .head-menu-button {
  background-color: #E6E6F0;
  border-radius: 8px;
}

#menu-toggle:checked ~ .head-menu-button > span::after {
  transform: rotate(90deg);
}

#menu-toggle:checked ~ .head-menu-list {
  visibility: visible;
  opacity: 1;
}

.head-menu-button span {
  display: none;
}

.head-description {
  display: flex;
  flex-flow: column wrap;
}

.greyseparator {
  fill: #E6E6F0;
}

.head-contacts {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  position: relative;
  z-index: 1;
}

.head-contacts_adress {
  color: #B3B3BA;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: normal;
}

.head-contacts_number {
  color: #B3B3BA;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: normal;
}

.head__contacts_number {
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: normal;
}

.head-menu-desk {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 16px;
  gap: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: normal;
  font-size: 16px;
  color: #24A3FF;
  border-bottom: 2px #fff;
}
.head-menu-desk input[type=radio] {
  display: none;
}
.head-menu-desk label {
  display: flex;
  cursor: pointer;
}
.head-menu-desk label:has(input:checked) {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}

.head__menu-desk {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 16px;
  gap: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: normal;
  font-size: 16px;
  color: #fff;
  border-bottom: 2px #fff;
  position: relative;
  z-index: 1;
}
.head__menu-desk input[type=radio] {
  display: none;
}
.head__menu-desk label {
  display: flex;
  cursor: pointer;
}
.head__menu-desk label:has(input:checked) {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}

.aboutpage-body {
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
}

.aboutpage-1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: column wrap;
  max-width: 100%;
  margin-top: 60px;
  gap: 30px;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .aboutpage-1 {
    padding: 0 60px;
  }
}
@media (min-width: 1024px) {
  .aboutpage-1 {
    padding: 0 60px;
    flex-flow: row nowrap;
  }
}
@media (min-width: 1280px) {
  .aboutpage-1 {
    padding: 0 160px;
    flex-flow: row nowrap;
  }
}
@media (min-width: 1980px) {
  .aboutpage-1 {
    padding: 0 280px;
    flex-flow: row nowrap;
  }
}

.aboutpage-1-description {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 28px;
  flex-flow: column wrap;
  max-width: 100%;
}
@media (min-width: 1024px) {
  .aboutpage-1-description {
    max-width: 65%;
  }
}

.aboutpage-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: normal;
  font-size: 38px;
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
@media (max-width: 768px) {
  .aboutpage-header {
    font-size: 30px;
  }
}

.aboutpage-1-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: normal;
  font-size: 19px;
  color: #000;
  text-align: justify;
  gap: 30px;
}

.aboutpage-1-table {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 30px;
  position: relative;
}

.aboutpage-1-table_column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.aboutpage-1-table_column-item {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.aboutpage-1-table_column-item-head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: normal;
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  gap: 8px;
}

.aboutpage-1-table_column-item-text {
  display: flex;
  flex-flow: row wrap;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: #323264;
}

.greysep {
  width: 4px;
  background-color: #E6E6F0;
  border-radius: 2px;
  flex-shrink: none;
}

.aboutpage-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  width: 100%;
}
@media (min-width: 768px) {
  .aboutpage-2 {
    margin-top: 60px;
  }
}

.aboutpage-2-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 13px;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  text-align: center;
  transform: translate(-50%, -50%);
  padding: 35px 113.5px;
}
@media (min-width: 769px) {
  .aboutpage-2-text {
    font-size: 46px;
    letter-spacing: 63px;
  }
}

.aboutphoto {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutpage-3 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 30px;
  gap: 30px;
  padding: 0 30px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .aboutpage-3 {
    padding: 0 60px;
    flex-wrap: wrap;
    margin-top: 60px;
  }
}
@media (min-width: 1024px) {
  .aboutpage-3 {
    padding: 0 60px;
    margin-top: 60px;
    gap: 60px;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1280px) {
  .aboutpage-3 {
    padding: 0 160px;
    margin-top: 60px;
    gap: 60px;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1980px) {
  .aboutpage-3 {
    padding: 0 280px;
    margin-top: 60px;
    gap: 60px;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.aboutpage-3-desc {
  max-width: 100%;
}
@media (min-width: 1024px) {
  .aboutpage-3-desc {
    max-width: 65%;
  }
}

.aboutpage-3-desc p {
  margin-bottom: 20px;
}

.aboutpage-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  padding: 30px 60px;
  max-width: 100%;
  background-color: #F5F5FA;
}
@media (min-width: 1920px) {
  .aboutpage-4 {
    padding: 30px 160px;
  }
}

.aboutpage-4__header {
  color: #323264;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: normal;
}

.aboutpage-4__menu {
  position: relative;
}
.aboutpage-4__menu input[type=radio] {
  display: none;
}
.aboutpage-4__menu .aboutpage-4__partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  gap: 40px;
  margin: 30px 0;
}
.aboutpage-4__menu .aboutpage-4__partners .aboutpage-4__partner {
  cursor: pointer;
}
.aboutpage-4__menu .aboutpage-4__partners .aboutpage-4__partner svg path {
  fill: #24A3FF;
  transition: fill 0.3s ease;
}
@media (max-width: 768px) {
  .aboutpage-4__menu .aboutpage-4__partners {
    flex-direction: column;
    align-items: center;
  }
  .aboutpage-4__menu .aboutpage-4__partners .aboutpage-4__partner {
    display: none;
  }
  .aboutpage-4__menu #partner-1:checked ~ .aboutpage-4__partners label:nth-child(1),
  .aboutpage-4__menu #partner-2:checked ~ .aboutpage-4__partners label:nth-child(2),
  .aboutpage-4__menu #partner-3:checked ~ .aboutpage-4__partners label:nth-child(3),
  .aboutpage-4__menu #partner-4:checked ~ .aboutpage-4__partners label:nth-child(4) {
    display: block;
  }
  .aboutpage-4__menu #partner-1:checked ~ .aboutpage-4__partners label:nth-child(1) svg path,
  .aboutpage-4__menu #partner-2:checked ~ .aboutpage-4__partners label:nth-child(2) svg path,
  .aboutpage-4__menu #partner-3:checked ~ .aboutpage-4__partners label:nth-child(3) svg path,
  .aboutpage-4__menu #partner-4:checked ~ .aboutpage-4__partners label:nth-child(4) svg path {
    fill: #24A3FF;
  }
}
@media (min-width: 769px) {
  .aboutpage-4__menu .aboutpage-4__partner {
    display: inline-block !important;
  }
  .aboutpage-4__menu .aboutpage-4__partner:nth-child(1) svg path {
    fill: #24A3FF;
  }
  .aboutpage-4__menu .aboutpage-4__partner:not(:nth-child(1)) svg path {
    fill: #D9D9D9;
  }
}

.aboutpage-4__partner {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  border-radius: 12px;
  background-color: #fff;
}

.partner-slider-1 {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 15px;
}
.partner-slider-1 .dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #24A3FF;
  opacity: 0.2;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.partner-slider-1 #partner-1:checked ~ .partner-slider-1 label[for=partner-1],
.partner-slider-1 #partner-2:checked ~ .partner-slider-1 label[for=partner-2],
.partner-slider-1 #partner-3:checked ~ .partner-slider-1 label[for=partner-3],
.partner-slider-1 #partner-4:checked ~ .partner-slider-1 label[for=partner-4] {
  opacity: 1;
}

.partner-slider-1 label:hover {
  opacity: 0.6;
}

.footer_mob {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  max-width: 100%;
  padding: 30px 30px;
  background-color: #F5F5FA;
}
@media (min-width: 769px) {
  .footer_mob {
    display: none;
  }
}

.footer_mob-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  gap: 10px;
}

.footer_mob-top-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: #323264;
}

.footer_mob-top-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: normal;
  color: #24A3FF;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer_mob-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-flow: column wrap;
  padding-top: 21px;
}

.footer_mob-center-1 {
  color: #46466E;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: normal;
  font-size: 16px;
}

.footer_mob-center-2 {
  color: #24A3FF;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: normal;
  font-size: 16px;
}

.footer_mob-bottom {
  color: #B3B3BA;
  font-size: 16px;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-top: 30px;
}
@media (min-width: 1024px) {
  .footer_mob-bottom {
    padding-top: 0;
  }
}

.footer_tablet {
  z-index: 1;
  display: none;
}
@media (min-width: 769px) and (max-width: 1023px) {
  .footer_tablet {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column wrap;
    max-width: 100%;
    padding: 0 60px 30px;
    background-color: #F5F5FA;
  }
}
@media (min-width: 1024px) {
  .footer_tablet {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: row wrap;
    max-width: 100%;
    padding: 0 60px 30px;
    background-color: #F5F5FA;
  }
}
@media (min-width: 1650px) {
  .footer_tablet {
    padding: 0 160px 30px;
  }
}

.footer_tablet-top-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  gap: 10px;
}

.footer_tablet-top-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 10px;
  padding-top: 21px;
}

.footer__separator {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
  margin-bottom: 30px;
  border-radius: 2px;
}

footer {
  z-index: 1;
  position: relative;
}

.header__h-symbol {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.header__h-symbol svg {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 100vw;
}
@media (max-width: 768px) {
  .header__h-symbol svg {
    max-width: 523px;
  }
}
@media (max-width: 1024px) {
  .header__h-symbol svg {
    max-width: 893px;
  }
}
@media (max-width: 1280px) {
  .header__h-symbol svg {
    max-width: 670px;
  }
}
@media (max-width: 1366px) {
  .header__h-symbol svg {
    max-width: 697px;
  }
}
@media (min-width: 1367px) {
  .header__h-symbol svg {
    max-width: 872px;
  }
}

.index__body {
  background-color: #323264;
}

.index__body .body__main_2-border2 {
  background-color: #F5F5FA;
}

.header__h-text {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 38px;
  padding: 0 60px;
  line-height: normal;
  margin-top: 129px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  position: relative;
}

.header__h-button {
  background: none;
  border: none;
  margin-top: 159px;
  margin-bottom: 30px;
  cursor: pointer;
  color: #fff;
  z-index: 1;
  position: relative;
}

.header__h-button:hover {
  color: #F0145A;
}

.header__h {
  display: flex;
  justify-self: center;
  align-self: center;
  flex-flow: column nowrap;
}

html, body {
  overflow-x: hidden;
}

.body__main_1 {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  padding: 0 30px;
  gap: 30px;
}
@media (min-width: 768px) {
  .body__main_1 {
    padding: 0 60px;
  }
}
@media (min-width: 1281px) {
  .body__main_1 {
    padding: 0 180px;
  }
}
@media (min-width: 1920px) {
  .body__main_1 {
    padding: 0 280px;
  }
}

.body__main_1-menu-wrapper {
  overflow-x: auto;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.body__main_1-menu-wrapper::-webkit-scrollbar {
  display: none;
}

.body__main_1-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  gap: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  white-space: nowrap;
  line-height: normal;
  font-size: 30px;
  color: #B3B3BA;
  position: relative;
  z-index: 1;
}
.body__main_1-menu input[type=radio] {
  display: none;
}
.body__main_1-menu label {
  display: flex;
  cursor: pointer;
}
.body__main_1-menu label:has(input:checked) {
  background: linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
@media (min-width: 1280px) {
  .body__main_1-menu {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
}

.body__main_1-description-separator {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
  border-radius: 2px;
}

.body__main_1-description {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-flow: column wrap;
  gap: 30px;
  position: relative;
}

.body__main_1-description-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: normal;
  color: #fff;
}

.body__main_1-description-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: normal;
  color: #fff;
  line-height: 30px;
  text-align: justify;
}

.body__main_2 {
  display: flex;
  flex-flow: column wrap;
  padding: 0 30px 60px;
  gap: 30px;
  position: relative;
  z-index: 1;
  border-radius: 0 0 12px 12px;
}

.body__main_2-services-header {
  display: flex;
  flex-flow: column wrap;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: normal;
  gap: 10px;
}

.body__main_2-services-header-1 {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #24A3FF;
}

.body__main_2-services-header-2 {
  font-size: 30px;
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.body__main_2-services {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column wrap;
  gap: 30px;
}

.body__main_2-service-icon {
  display: inline-flex;
  padding: 14px;
  border: 1px solid #fff;
  border-radius: 24px;
  background-color: #fff;
}

.body__main_2-service-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: normal;
  color: #24A3FF;
  margin: 30px 0 15px;
}

.body__main_2-service-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  text-align: justify;
}

.body__main_2-border1 {
  display: flex;
  justify-self: center;
  align-self: center;
  background: #323264;
  border-radius: 0 0 12px 12px;
  height: 10px;
  width: 100%;
}

.body__main_2-border2 {
  display: flex;
  justify-self: center;
  align-self: center;
  background: #CACADB;
  border-radius: 0 0 12px 12px;
  height: 10px;
  width: 95%;
}

.body__main_2-border3 {
  display: flex;
  justify-self: center;
  align-self: center;
  background: #E7E7F2;
  border-radius: 0 0 12px 12px;
  height: 10px;
  width: 85%;
}

.body__main_2-bot-border {
  background-color: #fff;
}

.body__main_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 30px 30px 0;
  background-color: #fff;
  overflow: hidden;
}

.body__main_3-photo {
  border-radius: 12px 12px 0px 0px;
  align-self: stretch;
  height: 500px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.body__main_3-description {
  background-color: #F5F5FA;
  overflow: hidden;
  padding: 30px 15px 0;
  gap: 30px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.body__main_3-description-1 {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-flow: column wrap;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: normal;
}

.body__main_3-description-1-text-1 {
  font-size: 14px;
  color: #24A3FF;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  align-items: start;
}

.body__main_3-description-1-text-2 {
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 30px;
}

.body__main_3-description-2 {
  display: flex;
  gap: 6px;
  color: #B3B3BA;
  flex-flow: column nowrap;
  padding-bottom: 30px;
}

.body__main_3-description-2-text-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
}

.body__main_3-description-2-text-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.body__main_3-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 30px 0 60px;
}

.body__main_4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  background-color: #fff;
}

.body__main_4-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #323264;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.body__main_4-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 100vw;
  list-style: none;
  padding: 0;
  margin: 0;
}

.body__main_4-menu-client {
  display: none;
}
.body__main_4-menu-client:nth-child(-n+6) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #F5F5FA;
  width: 375px;
  padding: 36px 80px;
}

.body__main_4-menu-client img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#client_hillel {
  background: #1C4280;
}

#WannaBiz {
  background: #143646;
}

#tapgerine {
  background: #F48B30;
}

#client_3dlook {
  background: #9E4DC3;
}

#orangegear {
  background: #FD9339;
}

#adtelligent {
  background: #E2E2E4;
}

#clickky {
  background: #C71C36;
}

#eco_leasing {
  background: #DCF3F9;
}

#InfraTek {
  background: #EAEAEA;
}

#city_park {
  background: #282240;
}

#artprintstudio {
  background: #1D4568;
}

#ultimatecard {
  background: #000;
}

.body__main_5 {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-flow: column wrap;
  background-color: #F5F5FA;
  padding: 30px 30px 0;
  gap: 30px;
}

.body__main_5-header {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  justify-content: flex-start;
  align-items: start;
  line-height: normal;
  flex-flow: column wrap;
}

.body__main_5-header-1 {
  display: flex;
  align-items: center;
  color: #24A3FF;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.body__main_5-header-2 {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 30px;
}

.body__main_5 img {
  border-radius: 8px 8px 0px 0px;
  align-self: stretch;
  height: 200px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.body__main_5-publications {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  flex-flow: row wrap;
}

.body__main_5-publication {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-color: #fff;
}

.body__main_5-publications-desc {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 15px;
  flex-flow: column wrap;
  padding: 30px 30px;
}

.body__main_5-publications-desc-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #24A3FF;
  line-height: normal;
  font-size: 16px;
}

.body__main_5-publications-desc-date {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #B3B3BA;
  line-height: normal;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.body__main_5-publications-desc-separator {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
  border-radius: 2px;
}

.body__main_5-publications-desc-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 22px;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */